<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="70cb3d96-70f6-45e6-b378-7f02b1d3b6fe" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="70cb3d96-70f6-45e6-b378-7f02b1d3b6fefileName">REST-Service-1</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
</con:interface>
